# Telegram
BOT_TOKEN=
WEBHOOK_SECRET=
ADMIN_IDS=654083689

# Separate tool endpoints
SEARCH_API_URL=
SEARCH_API_TOKEN=

# Username: Apify Sherlock
SHERLOCK_API_URL=https://api.apify.com/v2/actors/Futurizerush~sherlock/run-sync-get-dataset-items
SHERLOCK_API_TOKEN=

REKENING_API_URL=
REKENING_API_TOKEN=

EWALLET_API_URL=
EWALLET_API_TOKEN=

AI_API_URL=
AI_API_TOKEN=

# Rate limit
RATE_LIMIT_SECONDS=3
